In [165]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.metrics import accuracy_score
import warnings
from sklearn import metrics
warnings.filterwarnings("ignore")

In [166]:
df=pd.read_csv('E:\ML-Practice\Logistic Regression and Bootstrapping\cancer_data_log.csv')

In [167]:
df.head()

,Y,Gene 1,Gene 2,Gene 3,Gene 4,Gene 5,Gene 6,Gene 7,Gene 8,Gene 9,...,Gene 6024,Gene 6025,Gene 6026,Gene 6027,Gene 6028,Gene 6029,Gene 6030,Gene 6031,Gene 6032,Gene 6033
0,0,-0.927178,-0.740039,-0.532016,-1.097891,-0.986673,0.018752,-0.863326,3.959997,-0.398219,...,-0.029602,-1.097891,-1.097891,-0.894733,0.850270,-1.097891,-0.302063,-0.767685,-0.452616,0.194001
1,0,-0.835899,-0.835899,-0.585647,-0.835899,-0.329768,-0.835899,-0.835899,4.037788,-0.835899,...,-0.835899,-0.835899,-0.835899,-0.835899,0.038090,-0.835899,-0.835899,-0.835899,-0.835899,0.075500
2,0,0.236073,0.252645,-1.154351,-0.372372,-0.338900,1.253467,0.506325,3.868961,0.201932,...,0.860446,-1.154351,-1.154351,-0.372372,0.899781,-0.867200,0.360426,-1.154351,-1.154351,-1.154351
3,0,-0.748623,-0.439165,0.790953,-1.033876,0.241115,1.216007,0.106282,3.976272,0.081755,...,0.614026,-1.121534,-1.121534,-0.812076,1.230378,-0.355497,0.030647,-0.278810,-1.121534,-1.121534
4,0,0.101239,-0.298285,-1.121519,-0.957714,0.342258,1.182937,0.029325,4.575871,-0.196466,...,0.639511,-1.121519,-1.121519,-0.454932,0.891627,-0.593427,0.306316,-0.076496,-0.134480,-1.121519

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Columns: 6034 entries, Y to Gene 6033
dtypes: float64(6033), int64(1)
memory usage: 4.7 MB

In [169]:
df.describe()

,Y,Gene 1,Gene 2,Gene 3,Gene 4,Gene 5,Gene 6,Gene 7,Gene 8,Gene 9,...,Gene 6024,Gene 6025,Gene 6026,Gene 6027,Gene 6028,Gene 6029,Gene 6030,Gene 6031,Gene 6032,Gene 6033
count,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,...,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
mean,0.509804,-0.623086,-0.665809,-0.586693,-0.895592,-0.438002,-0.152997,-0.593764,4.361345,-0.553667,...,0.085543,-0.942715,-0.911446,-0.586700,0.582713,-0.553039,-0.470743,-0.808616,-0.561697,-0.443614
std,0.502373,0.409905,0.378207,0.497839,0.190989,0.597182,0.789601,0.414790,0.410420,0.399223,...,0.486224,0.198808,0.257675,0.480445,0.474421,0.604060,0.488540,0.259202,0.599590,0.490696
min,0.000000,-1.130098,-1.206937,-1.301743,-1.206937,-1.301743,-1.143350,-1.143350,3.252179,-1.143350,...,-0.835899,-1.206937,-1.301743,-1.206832,-0.626996,-1.206937,-1.176135,-1.206937,-1.206937,-1.301743
25%,0.000000,-0.898958,-0.900725,-0.975092,-1.010763,-0.887563,-0.833340,-0.887027,4.020057,-0.848168,...,-0.275132,-1.084164,-1.058078,-0.896785,0.246251,-0.927968,-0.847823,-0.927968,-0.923128,-0.932244
50%,1.000000,-0.822767,-0.822767,-0.695085,-0.903021,-0.719410,-0.537950,-0.788193,4.378673,-0.750088,...,0.051232,-0.927905,-0.926267,-0.806630,0.618485,-0.790925,-0.747238,-0.854604,-0.809586,-0.258905
75%,1.000000,-0.332359,-0.469646,-0.290362,-0.830379,0.013333,0.545198,-0.316292,4.683036,-0.268685,...,0.403807,-0.850474,-0.836592,-0.333902,0.964098,-0.358771,-0.093537,-0.764455,-0.335888,-0.024725
max,1.000000,0.664819,0.468548,0.991212,0.164841,1.098031,1.338133,0.641860,5.494318,0.662006,...,1.189593,0.434193,0.642954,0.905076,1.523627,1.700124,0.681829,0.493369,1.199408,0.357666

In [170]:
#Train test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( df.drop('Y',axis = 1), df['Y'], test_size=0.33, random_state=42)

In [171]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68 entries, 28 to 51
Columns: 6033 entries, Gene 1 to Gene 6033
dtypes: float64(6033)
memory usage: 3.1 MB

In [172]:
X_train_n=(X_train-X_train.min(axis=0))/(X_train.max(axis=0)-X_train.min(axis=0))
X_test_n=(X_test-X_test.min(axis=0))/(X_test.max(axis=0) - X_test.min(axis=0))

In [173]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(C=100000, fit_intercept=True)
log_reg.fit(X_train, y_train)
y_predict_train=log_reg.predict(X_train)
y_predict_test=log_reg.predict(X_test)
print("Training Accuracy for Logistic Regression: ", accuracy_score(y_train, y_predict_train))
print("Test Accuracy for Logistic Regression: ", accuracy_score(y_test, y_predict_test))

Training Accuracy for Logistic Regression:  1.0
Test Accuracy for Logistic Regression:  0.9411764705882353

In [174]:
log_reg.intercept_

array([-0.00392783])

In [175]:
log_reg.coef_

array([[-0.0098044 , -0.01471885, -0.03635322, ...,  0.01089027,
        -0.0081158 , -0.02073262]])

In [176]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_predict_test)

array([[18,  1],
       [ 1, 14]], dtype=int64)

In [177]:
print(metrics.classification_report(y_test,y_predict_test))

              precision    recall  f1-score   support

           0       0.95      0.95      0.95        19
           1       0.93      0.93      0.93        15

    accuracy                           0.94        34
   macro avg       0.94      0.94      0.94        34
weighted avg       0.94      0.94      0.94        34

# Bootsraping in Logistic Regression Model

In [178]:
samples=50 
coefs=np.zeros((X_train_n.shape[1],samples))
for i in range(samples):
    index=np.random.choice(range(len(y_train)),size=len(y_train),replace=True)
    X_train_samples=X_train_n.values[index]
    y_train_samples=y_train.values[index]
    log_boot=LogisticRegression(C=100000,fit_intercept=True)
    log_boot.fit(X_train_samples,y_train_samples)
    coefs[:,i] = log_boot.coef_
coefs.shape

(6033, 50)

In [179]:
ci_upper = np.percentile(coefs, 97.5, axis=1)
ci_lower = np.percentile(coefs, 2.5, axis=1)

In [180]:
predictors=0
for i in range(len(ci_upper)):
    if ci_upper[i]<0 or ci_lower[i]>0:
        predictors+=1
print("significant predictors at 5 level= %i/%i" % (predictors,X_train_n.shape[1]))

significant predictors at 5 level= 1561/6033